.git
.gitignore
.gitattributes
node_modules
npm-debug.log*
yarn.lock
pnpm-lock.yaml
.env
.env.*
*.pem
*.key
docker-compose.yml
docker-compose.*.yml
.docker
*.log
.cache
coverage
.DS_Store
Thumbs.db
.idea
.vscode
